.fourth-heghlight-wrapper {
  -webkit-box-pack: justify;
  display: flex;
  justify-content: space-between;
}
.description-wraper {
  margin: 0 auto;
  padding: 9px;
  font-weight: 400;
  font-size: 1.3em;
}
/* 4th-left side */
.left-side-wrapper {
  background-image: url("../image/home/watch-series-5.jpg");
  color: black;
  padding: 55px;
  margin-right: 0.5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 48.5%;
  height: 580px;
  text-align: center;
}

/* 4th-right side */
.right-side-wrapper {
  background-image: url("./image/home/apple-card.jpg");
  color: black;
  padding: 55px;
  margin-left: 0.5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 580px;
  text-align: center;
  width: 48.5%;
}